########################################
# Python
########################################
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
build/
dist/

########################################
# Environnement virtuel
########################################
venv/
env/
.venv/

########################################
# Logs d'exécution
########################################
*.log

########################################
# Exports JSON produits par sirs_import
########################################
*.json

########################################
# Données sensibles utilisateur
########################################
config_sirs.toml

########################################
# Données GPKG locales de travail
########################################
*.gpkg

########################################
# Photos sources & migration
########################################
photos/
PHOTOS/
photos_temp/
photos_migrated/

########################################
# Fichiers d’indexation
########################################
.DS_Store
Thumbs.db

########################################
# résultats couchDB extraits
########################################
*_contacts.txt
*_linearId.txt

########################################
# guides utilisateurs
########################################
*.docx
*.pdf

